*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
  width:100%;
}

.serviceImage{
  width:30px;
  height:30px; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:560px) {
  .TtileImage{
    transform: scale(0.8);
    width:90%;
    height:150px;
  }

  .LogoImage{
    width:80%; 
  }

  .ServiceContainer{
    transform: scale(1.3);
    zoom:0.55;
    display:flex;
    width:100%;
    flex-wrap:nowrap;
  }

  .ImageServiceHolder{
    width:90px;
    height:90px;
    margin:8px; 
    padding:8px;
    border-radius:5px;
  }

  .TopServiceSectionContainer{
    width:100%; 

  }

.PartnersSection div.col-md-2{
    width:16.6% !important;
}
  .PartnersSection div.row{
    margin-top:10px;
  }


  .ServiceContainer{
    display:grid;
    margin:15px;
    flex-wrap:wrap;
    max-width:100%;
  }

  div.whyPayAfrik{
    position:unset; 
  }

}


